<form class="row form-horizontal">
  <!-- Address form -->
  <h2>Address</h2>

  <!-- full-name input-->
  <div class="control-group">
    <label class="control-label">Full Name or Company</label>
    <div class="controls">
      <input id="name" type="text" class="form-control">
      <p class="help-block"></p>
    </div>
  </div>
  <!-- address-line1 input-->
  <div class="control-group">
    <label class="control-label">Address Line 1</label>
    <div class="controls">
      <input id="address_line1" type="text" class="form-control">
      <p class="help-block">Street address, P.O. box, company name, c/o</p>
    </div>
  </div>
  <!-- address-line2 input-->
  <div class="control-group">
    <label class="control-label">Address Line 2</label>
    <div class="controls">
      <input id="address_line2" type="text" class="form-control">
      <p class="help-block">Apartment, suite , unit, building, floor, etc.</p>
    </div>
  </div>
  <!-- city input-->
  <div class="control-group">
    <label class="control-label">City / Town</label>
    <div class="controls">
      <input id="city" type="text" class="form-control">
      <p class="help-block"></p>
    </div>
  </div>
  <!-- region input-->
  <div class="control-group">
    <label class="control-label">State / Province / Region</label>
    <div class="controls">
      <input id="region" type="text" class="form-control">
        <p class="help-block"></p>
    </div>
  </div>
  <!-- postal-code input-->
  <div class="control-group">
    <label class="control-label">Zip / Postal Code</label>
    <div class="controls">
      <input id="postal_code" type="text" class="form-control">
      <p class="help-block"></p>
    </div>
  </div>
  <!-- country select -->
  <div class="control-group">
    <label class="control-label">Country</label>
    <div class="controls">
      <select id="country" class="form-control">
        {% for country_abbreviation, country in countries %}
          {% if country_abbreviation == "US" %}
            <option value="{{ country_abbreviation }}" selected>{{ country }}</option>
          {% else %}
            <option value="{{ country_abbreviation }}">{{ country }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
  <!-- Phone -->
  <div class="control-group">
    <label class="control-label">Phone</label>
    <div class="controls">
      <input id="phone" type="text" class="form-control">
      <p class="help-block"></p>
    </div>
  </div>
  <!-- Extra Information -->
  <div class="control-group">
     <label class="control-label">Extra Line 1</label>
     <div class="controls">
       <input id="print_custom_1" type="text" class="form-control">
       <p class="help-block"></p>
     </div>
   </div>

  <h2>Shipping Information</h2>
  <!-- dimensions inputs -->
  <div class="control-group">
    <div class="controls">
      <label class="control-label">Dimensions (inches)</label>
      <input id="length" type="text" placeholder="L" class="form-control address-dimensions">
      x
      <input id="width" type="text" placeholder="W" class="form-control address-dimensions">
      x
      <input id="height" type="text" placeholder="H" class="form-control address-dimensions">
    </div>
  </div>

  <!-- weight -->
  <div class="control-group">
    <label class="control-label">Weight (oz)</label>
    <div class="controls">
      <input id="weight" type="text" class="form-control">
      <p class="help-block"></p>
    </div>
  </div>

  <!-- dry ice -->
  <div class="control-group">
    <label class="control-label">Weight of Dry Ice (oz)</label>
    <div class="controls">
      <input id="dry_ice" type="text" class="form-control">
      <p class="help-block"></p>
    </div>
  </div>

  <h2>Other</h2>
  <!-- email -->
  <div class="control-group">
    <label class="control-label">E-mail to send shipment information to</label>
    <div class="controls">
      <input id="email" type="text" class="form-control">
      <p class="help-block"></p>
    </div>
  </div>


  <!-- submit button -->
  <div class="control-group">
    <div class="controls">
      <input type="submit" class="btn btn-primary" id="submitButton" onclick="return submitAddress()" value="Create Label" />
      <img src="/static/ajax-loader.gif" id="submitButtonLoading" style="display:none" />
    </div>
  </div>
</form>
